@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom classes for print */
@media print {
  table {
    width: max-content;
    table-layout: fixed;
  }
  th, td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 200px; /* Adjust the max-width as needed */
    overflow: visible; /* Ensure full text is displayed */
    text-overflow: clip; /* Prevent truncation */
    word-break: break-all; /* Breaks long words */
  }
}
